/* font style & font size general*/

h1, h2, h3, h4 {
    font-weight: extra-bold;
}

html {
  font-family: 'industry', sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    font-size: 16px;
    line-height: 1.5;
}


/* footer */

.site-footer {
    background-color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a img {
    width: 32px; /* Ajuste la taille des icônes */
    height: 32px;
}

/* Style du menu */
.footer-info {
    text-align: start;
}

/* Ajuste les styles du menu WordPress */
.footer-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-info ul li {
    margin-bottom: 5px;
}

.footer-info ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.footer-partners {
    text-align: start;
}

.title-footer {
    color: #6d2b56;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: extra-bold;
    margin-bottom: 10px;
}

.partners-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.partners-logos img {
    max-width: 180px;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-info,
    .footer-partners {
        text-align: start;
    }

    .partners-logos {
        flex-direction: column;
    }
}



